<div class="wrp">
  <div class="portada"></div>
  <div class="contenido">
      <div class="info">
          <h1>Formulario </h1>
      </div>
  </div>
  <div class="curveado">
      <img height="50%" src="./assets/img2.svg" alt="">
  </div>
</div>

<section class="meow">

  <form class="formulario" action="">
      <p><b>Nombre:</b></p>
      <input type="text" class="preguntas"> <br>

      <p><b>Correo electrónico:</b></p>
      <input type="email" class="preguntas"> <br>

      <p><b>Fecha de ingreso</b></p>
      <input type="datetime-local" class="preguntas"> <br>

      <p></p>
      <input type="submit">
 </form>

<figure>
  <img class="img1" width="560px"
  height= "370px" src="./assets/space.jpg" alt="">
</figure>

</section>

